@font-face{
    font-family: 'josias';
    src: url('Poppins Bold.ttf'), format(trueype);
  }

  html {
    scroll-behavior: smooth;
    scroll-padding-top: 12%;
}

a{
    color: #fff;
    text-decoration: none;
}

  body{
    font-family: 'josias',Arial, Helvetica, sans-serif;
    background-color: #0011ff;

  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.topo{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99999;
    display: flex;
    background-color: #000;
    color: #fff;
    padding-inline: 2%;
    padding-block: 2%;
    box-shadow: 2px 2px 5px #0011ff;
}

.logo{
    flex: 10%;
}

.links{
    align-items: center;
    flex: 40%;
}

.links ul{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    width: 100%;
    height: 100%;
}

.links li{
    position: relative;
    margin:0 20px;
    list-style: none;
}

.links li a{
    transition: .3s;
}

.links a::after{
    content: '';
    position: absolute;
    width: 0px;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #0011ff;
    border-radius: 12px;
    transition: .3s;
    z-index: -1;
}

.links a:hover::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #0011ff;
    border-radius: 12px;
    transition: .3s;
}


.bem-vindo{
    height: 100vh;
    background-color: #0011ff;
    overflow: hidden;
    display: flex;
    color: #fff;
}

.textos{
    flex: 70%;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}


.imagem{
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    flex: 80%;
}

.imagem img{
    pointer-events: none;
   width: 640px;
   transition-delay: .4s;
}

.recargas{
    padding-top: 2%;
   background-color: #0011ff;
   color: #fff;
}

.recargas h1{
   margin: 0 auto;
   width: max-content;
}

.card-recargas{
    display: flex;
    flex-direction: column;
}

.card-recargas .active {
   /* background-color: #0011ff;*/
   animation: anim 2s linear infinite;
    color: #fff;
  }


  @keyframes anim {
    0%{
        background-color:#0011ff;
    }
    50%{
        background-color: #64bd0c;
    }
    100%{
        background-color:#0011ff;
    }
  }


.card-recargas fieldset{
    padding: 10px;
}

.card-recargas fieldset button{
    padding: 12px;
}

.card-recargas button {
    font-family: 'josias';
    font-weight: bold;
    width: 20%;
    height: 55px;
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
  }

.card-recargas{
    background-color: #000;
    background-position: center;
    background-size: cover;
    padding: 42px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.card-recargas button{
    transition: .2s linear;
}

.pagamento{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pagamento img{
pointer-events: none;
}

.pagamento article{
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 4px solid #ffffff71;
    border-radius: 12px;
    transition: .4s linear;  
}

.pagamento article:hover{
background-color: #fff;
color: #000;
transition: .4s linear;  
}

.pagamento h2{
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.pagamento .Express{
    flex: 10%;
    margin: 0 4%;
    justify-content: start;
    text-align: center;
    display: flex;
}

.pagamento .Paypay{
    flex: 10%;
    margin: 0 4%;
    justify-content: start;
    text-align: center;
    display: flex;
}

.pagamento .Paypay img{
    margin: 0 4%;
}

.pagamento .Referencia{
    flex: 10%;
    margin: 0 4%;
    justify-content: start;
    text-align: center;
    display: flex;
}



/*btn whatsapp*/
#whatsapp-btn {
    background-color: #25D366;
    color: white;
    margin-top: 20px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
  }

  #whatsapp-btn:hover{
    background-color: #06491f;
}

.card-recargas input {
    text-align: center;
    justify-content: center;
    margin: 0 2%;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .assinatura{
    color: #fff;
    padding-top:5% ;
    height: 100vh;
  }

  #assin-titulo{
    margin: 0 auto;
    width: max-content;
  }

  /*assinatura*/
  .assinatura{
    display: flex;
    flex-direction: column;
    height: max-content;
    overflow: hidden;
  }

  .assinatura article {
    box-shadow: #000000be 0 0 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 2px;
    overflow: hidden;
    background-color: #fff;
    width: 200px;
    max-width: 200px;
    height: 200px;
    padding: 20px;
    border-radius: 12px;

}

.assinatura article button{
    background-color: #0011ff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 14px;
    cursor: pointer;
    transition: .2s linear;
}

.assinatura article button:hover{
    background-color: #091292;
    transition: .2s linear;
}

.assinatura article button a{
    text-decoration: none;
    color: #fff;
}

.assinatura article img{
    max-width: 100px;
    width: 100px;
}

.assinatura article p{
    color: #000;
}

  .assinatura section img{
    pointer-events: none    ;
    width: 100px;   

  }

  .card-assinatura{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
  }

  .card-assinatura button{
    color: #fff;
    font-weight: bold;
  }

  .assinatura article {
    box-shadow: 0 0 8px #0a0a0a;
    margin: 2% 2%;
    justify-content: space-between;
    height: 275px;
    width: 250px;
    max-width: 250px;
    max-height:279px  ;
  }


  #passeb{
    position: relative;
  }

    #passeb::after{
        content: '-50%';
        position: absolute;
        top: 0;
        right:  0;
        background-color: red;
        padding: 2%;
        width: 25%;
        height: 10%;
        border-radius: 0 0 0 12px;
    }  

  footer{
    display: flex;
    flex-direction: column;
    background-color: #000000ea;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 10px;
    margin-top: 5%;
  }
  footer h1,a{
    color: #fff;
    
  }

  footer a{
    transition: .2s linear;
  }
  footer a:hover{
    transition: .2s linear;
    color: #28fa4b;
  }

  footer p{
    text-align: center;
    font-size: 12px;
  }


  /*animacao scroll*/
  .hiden{
    opacity: 0;
    filter: blur(15px);
    transition: all .9s;
    transform: translateY(60px);
  }
  
  .show{
    opacity: 1;
    filter: blur(0);
    transition: all .9s;
    transform: translateX(0);
  }


  @media (width < 830px){
    .topo{
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 99999;
        display: flex;
        background-color: #000;
        color: #fff;
        padding-inline: 4%;
        padding-block: 4%;
        box-shadow: 2px 2px 5px #0011ff;
        flex-direction: column;
    }
    
    .logo{
      text-align: center;
      justify-content: center;
      align-items: center;
    }
    
    .links{
        align-items: center;
        text-align: center;
        justify-content: center;
        font-size: 13px;
    }


    .bem-vindo{
        height: 100vh;
        background-color: #0011ff;
        overflow: hidden;
        display: flex;
        color: #fff;
        flex-direction: column;
    }
    
    .textos{
        align-items: center;
        justify-content: end;
        text-align: center;
        display: flex;
        flex-direction: column;
        font-size: 13px;
        padding-bottom: 14%;
        padding-top: 5%;

    }
    
    
    .imagem{
        align-items: center;
        justify-content: center;
        text-align: center;
        overflow: hidden;
        text-align: center;
        display: flex;
    }
    
    .imagem img{
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
        pointer-events: none;
       width: 400px;
       padding-top: 23%;
       transition-delay: .4s;

    }

    .card-recargas button {
        font-family: 'josias';
        font-weight: bold;
        width: 30%;
        height: 65px;
        margin: 5px;
        padding: 10px 20px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        background-color: #fff;
    }

      .card-recargas fieldset{
        font-size: 14px;
        padding: 10px;
        width: 100%;
    }

    .pagamento{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .pagamento .Express{
        margin-bottom: 5%;
    }
    .pagamento .Paypay{
        padding: 6%;
        margin-bottom: 5%;
    }


  }