@font-face{
    font-family: 'josias';
    src: url('Poppins Bold.ttf'), format(trueype);
  }

*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

body{
    font-family: 'josias';
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

section{
    font-size: 20px;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: flex;;
}

#whats{
    position: absolute;
    bottom: 4%;
    right: 4%;
    width: 80px;
}
